.Footer-BV{
    background-color: #455B7B;
    position: relative;
    left: 10vw;
    color: #DDEBFF;
    height: 40vh;
}

.Footer-BV .Content{
    margin-top: auto;
    margin-bottom: auto; 
    height: 40vh;
}

.Footer-BV .Content .title{
    font-weight: bold;
}